.custom-login
{
  height: 500px;
  padding-top: 100px;
}
.slider-img
{
	height: 400px !important;
	width: 100%;
}
.custom-product
{
	 height: 600px;
}

.carousel-caption
{
background-color: #ccc !important;
}
.trending-wrapper
{
	margin:20px;
}
.trending-img
{
height: 100px;	
}
.trending-items
{
	float: left;
	width: 20%;
}
.detail-img
{
	float: left;
}